@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  src: url("../fonts/roboto-condensed-v25-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"); }

.header {
  width: 100%; }
  .header__wrapper {
    height: 80px;
    background-color: #2B4074;
    display: flex;
    justify-content: space-between; }
  .header__logo {
    width: 100px;
    height: 63.73px;
    margin: 7px 25px; }

#nav-menu {
  opacity: 0; }

.header-nav__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 1;
  background-color: #fff;
  border-radius: 3px; }

.header-nav__btn > span,
.header-nav__btn > span::before,
.header-nav__btn > span::after {
  display: block;
  position: absolute;
  left: 14px;
  width: 12px;
  height: 2px;
  background-color: #2B4074; }

.header-nav__btn > span::before {
  content: '';
  top: -4px;
  left: 0; }

.header-nav__btn > span::after {
  content: '';
  top: 4px;
  left: 0; }

.menu-list {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #2B4074;
  box-shadow: -5px 0px 3px rgba(241, 239, 239, 0.2); }

.menu-list__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none; }

.menu-list__link:hover {
  background-color: #CFD8DC; }

#nav-menu:checked ~ .header-nav__btn > span {
  transform: rotate(45deg); }

#nav-menu:checked ~ .header-nav__btn > span::before {
  top: 0;
  transform: rotate(0); }

#nav-menu:checked ~ .header-nav__btn > span::after {
  top: 0;
  transform: rotate(90deg); }

#nav-menu:checked ~ .menu-list {
  visibility: visible;
  right: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

input {
  border: none; }

button {
  border: none; }

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0; }

.container {
  margin: 0 auto;
  max-width: 320px; }

.intro {
  height: 193px;
  width: 320px; }

.intro__text {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  padding: 36px 40px 0; }

.intro__slide {
  background: #333 url("../img/intro-bg.jpg") no-repeat center/cover; }

.section {
  width: 100%;
  background-color: #fff; }

.footer {
  height: 80px;
  padding: 21px;
  font-size: 12px;
  text-align: center; }
