@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  src: url("../fonts/roboto-condensed-v25-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"); }

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px; }
  @media (min-width: 640px) {
    .grid {
      margin: 0 -15px; } }

.grid__col {
  padding: 0 5px; }
  @media (min-width: 640px) {
    .grid__col {
      padding: 0 15px; } }

.grid__col_1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.grid__order_1 {
  order: 1; }

.grid__col_2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.grid__order_2 {
  order: 2; }

.grid__col_3 {
  flex: 0 0 25%;
  max-width: 25%; }

.grid__order_3 {
  order: 3; }

.grid__col_4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.grid__order_4 {
  order: 4; }

.grid__col_5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.grid__order_5 {
  order: 5; }

.grid__col_6 {
  flex: 0 0 50%;
  max-width: 50%; }

.grid__order_6 {
  order: 6; }

.grid__col_7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.grid__order_7 {
  order: 7; }

.grid__col_8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.grid__order_8 {
  order: 8; }

.grid__col_9 {
  flex: 0 0 75%;
  max-width: 75%; }

.grid__order_9 {
  order: 9; }

.grid__col_10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.grid__order_10 {
  order: 10; }

.grid__col_11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.grid__order_11 {
  order: 11; }

.grid__col_12 {
  flex: 0 0 100%;
  max-width: 100%; }

.grid__order_12 {
  order: 12; }

.grid__pull_1 {
  margin-left: 8.33333%; }

.grid__pull_2 {
  margin-left: 16.66667%; }

.grid__pull_3 {
  margin-left: 25%; }

.grid__pull_4 {
  margin-left: 33.33333%; }

.grid__pull_5 {
  margin-left: 41.66667%; }

.grid__pull_6 {
  margin-left: 50%; }

.grid__pull_7 {
  margin-left: 58.33333%; }

.grid__pull_8 {
  margin-left: 66.66667%; }

.grid__pull_9 {
  margin-left: 75%; }

.grid__pull_10 {
  margin-left: 83.33333%; }

.grid__pull_11 {
  margin-left: 91.66667%; }

.grid__push_1 {
  margin-right: 8.33333%; }

.grid__push_2 {
  margin-right: 16.66667%; }

.grid__push_3 {
  margin-right: 25%; }

.grid__push_4 {
  margin-right: 33.33333%; }

.grid__push_5 {
  margin-right: 41.66667%; }

.grid__push_6 {
  margin-right: 50%; }

.grid__push_7 {
  margin-right: 58.33333%; }

.grid__push_8 {
  margin-right: 66.66667%; }

.grid__push_9 {
  margin-right: 75%; }

.grid__push_10 {
  margin-right: 83.33333%; }

.grid__push_11 {
  margin-right: 91.66667%; }

@media (min-width: 640px) {
  .grid__md-col_0 {
    flex: 0 0 0%;
    max-width: 0%; }
  .grid__md-pull_0 {
    margin-left: 0%; }
  .grid__md-order_0 {
    order: 0; }
  .grid__md-col_1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .grid__md-pull_1 {
    margin-left: 8.33333%; }
  .grid__md-order_1 {
    order: 1; }
  .grid__md-col_2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .grid__md-pull_2 {
    margin-left: 16.66667%; }
  .grid__md-order_2 {
    order: 2; }
  .grid__md-col_3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .grid__md-pull_3 {
    margin-left: 25%; }
  .grid__md-order_3 {
    order: 3; }
  .grid__md-col_4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .grid__md-pull_4 {
    margin-left: 33.33333%; }
  .grid__md-order_4 {
    order: 4; }
  .grid__md-col_5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .grid__md-pull_5 {
    margin-left: 41.66667%; }
  .grid__md-order_5 {
    order: 5; }
  .grid__md-col_6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .grid__md-pull_6 {
    margin-left: 50%; }
  .grid__md-order_6 {
    order: 6; }
  .grid__md-col_7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .grid__md-pull_7 {
    margin-left: 58.33333%; }
  .grid__md-order_7 {
    order: 7; }
  .grid__md-col_8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .grid__md-pull_8 {
    margin-left: 66.66667%; }
  .grid__md-order_8 {
    order: 8; }
  .grid__md-col_9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .grid__md-pull_9 {
    margin-left: 75%; }
  .grid__md-order_9 {
    order: 9; }
  .grid__md-col_10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .grid__md-pull_10 {
    margin-left: 83.33333%; }
  .grid__md-order_10 {
    order: 10; }
  .grid__md-col_11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .grid__md-pull_11 {
    margin-left: 91.66667%; }
  .grid__md-order_11 {
    order: 11; }
  .grid__md-col_12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .grid__md-pull_12 {
    margin-left: 100%; }
  .grid__md-order_12 {
    order: 12; } }

@media (min-width: 768px) {
  .grid__lg-col_0 {
    flex: 0 0 0%;
    max-width: 0%; }
  .grid__lg-pull_0 {
    margin-left: 0%; }
  .grid__lg-order_0 {
    order: 0; }
  .grid__lg-col_1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .grid__lg-pull_1 {
    margin-left: 8.33333%; }
  .grid__lg-order_1 {
    order: 1; }
  .grid__lg-col_2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .grid__lg-pull_2 {
    margin-left: 16.66667%; }
  .grid__lg-order_2 {
    order: 2; }
  .grid__lg-col_3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .grid__lg-pull_3 {
    margin-left: 25%; }
  .grid__lg-order_3 {
    order: 3; }
  .grid__lg-col_4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .grid__lg-pull_4 {
    margin-left: 33.33333%; }
  .grid__lg-order_4 {
    order: 4; }
  .grid__lg-col_5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .grid__lg-pull_5 {
    margin-left: 41.66667%; }
  .grid__lg-order_5 {
    order: 5; }
  .grid__lg-col_6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .grid__lg-pull_6 {
    margin-left: 50%; }
  .grid__lg-order_6 {
    order: 6; }
  .grid__lg-col_7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .grid__lg-pull_7 {
    margin-left: 58.33333%; }
  .grid__lg-order_7 {
    order: 7; }
  .grid__lg-col_8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .grid__lg-pull_8 {
    margin-left: 66.66667%; }
  .grid__lg-order_8 {
    order: 8; }
  .grid__lg-col_9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .grid__lg-pull_9 {
    margin-left: 75%; }
  .grid__lg-order_9 {
    order: 9; }
  .grid__lg-col_10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .grid__lg-pull_10 {
    margin-left: 83.33333%; }
  .grid__lg-order_10 {
    order: 10; }
  .grid__lg-col_11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .grid__lg-pull_11 {
    margin-left: 91.66667%; }
  .grid__lg-order_11 {
    order: 11; }
  .grid__lg-col_12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .grid__lg-pull_12 {
    margin-left: 100%; }
  .grid__lg-order_12 {
    order: 12; } }

@media (min-width: 1024px) {
  .grid__xl-col_0 {
    flex: 0 0 0%;
    max-width: 0%; }
  .grid__xl-pull_0 {
    margin-left: 0%; }
  .grid__xl-order_0 {
    order: 0; }
  .grid__xl-col_1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .grid__xl-pull_1 {
    margin-left: 8.33333%; }
  .grid__xl-order_1 {
    order: 1; }
  .grid__xl-col_2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .grid__xl-pull_2 {
    margin-left: 16.66667%; }
  .grid__xl-order_2 {
    order: 2; }
  .grid__xl-col_3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .grid__xl-pull_3 {
    margin-left: 25%; }
  .grid__xl-order_3 {
    order: 3; }
  .grid__xl-col_4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .grid__xl-pull_4 {
    margin-left: 33.33333%; }
  .grid__xl-order_4 {
    order: 4; }
  .grid__xl-col_5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .grid__xl-pull_5 {
    margin-left: 41.66667%; }
  .grid__xl-order_5 {
    order: 5; }
  .grid__xl-col_6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .grid__xl-pull_6 {
    margin-left: 50%; }
  .grid__xl-order_6 {
    order: 6; }
  .grid__xl-col_7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .grid__xl-pull_7 {
    margin-left: 58.33333%; }
  .grid__xl-order_7 {
    order: 7; }
  .grid__xl-col_8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .grid__xl-pull_8 {
    margin-left: 66.66667%; }
  .grid__xl-order_8 {
    order: 8; }
  .grid__xl-col_9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .grid__xl-pull_9 {
    margin-left: 75%; }
  .grid__xl-order_9 {
    order: 9; }
  .grid__xl-col_10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .grid__xl-pull_10 {
    margin-left: 83.33333%; }
  .grid__xl-order_10 {
    order: 10; }
  .grid__xl-col_11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .grid__xl-pull_11 {
    margin-left: 91.66667%; }
  .grid__xl-order_11 {
    order: 11; }
  .grid__xl-col_12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .grid__xl-pull_12 {
    margin-left: 100%; }
  .grid__xl-order_12 {
    order: 12; } }

.header {
  width: 100%;
  background-color: #2B4074; }
  .header__wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between; }
  .header__logo {
    width: 100px;
    height: 63.73px;
    margin: 7px 25px; }

#nav-menu {
  opacity: 0; }

.header-nav__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 1;
  background-color: #fff;
  border-radius: 3px; }

.header-nav__btn > span,
.header-nav__btn > span::before,
.header-nav__btn > span::after {
  display: block;
  position: absolute;
  left: 14px;
  width: 12px;
  height: 2px;
  background-color: #2B4074; }

.header-nav__btn > span::before {
  content: '';
  top: -4px;
  left: 0; }

.header-nav__btn > span::after {
  content: '';
  top: 4px;
  left: 0; }

.menu-list {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #2B4074;
  box-shadow: -5px 0px 3px rgba(241, 239, 239, 0.2); }

.menu-list__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none; }

.menu-list__link:hover {
  background-color: #CFD8DC; }

#nav-menu:checked ~ .header-nav__btn > span {
  transform: rotate(45deg); }

#nav-menu:checked ~ .header-nav__btn > span::before {
  top: 0;
  transform: rotate(0); }

#nav-menu:checked ~ .header-nav__btn > span::after {
  top: 0;
  transform: rotate(90deg); }

#nav-menu:checked ~ .menu-list {
  visibility: visible;
  right: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

input {
  border: none; }

button {
  border: none; }

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0; }

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px; }

.intro {
  height: 193px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }

.intro__text {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  padding: 36px 40px 0; }

.intro__slide {
  background: #333 url("../img/intro-bg.jpg") no-repeat center/cover; }

.component {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(86, 61, 124, 0.2); }

.component__title {
  padding: 20px 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.section {
  width: 100%;
  background-color: #fff; }

.footer {
  height: 80px;
  padding: 21px;
  font-size: 12px;
  text-align: center; }

.promo {
  width: 100%;
  background-color: #2B4074;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  padding: 40px 20px; }
  .promo__title {
    margin: 0 10px 10px; }
  .promo__text {
    font-size: 16px;
    line-height: 16px;
    margin: 0 16px 40px; }
  .promo__btn {
    height: 60px;
    width: 200px;
    border-radius: 3px;
    background-color: #F9F6E5;
    color: #2B4074;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase; }

.services {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  color: #2B4074; }
  .services__title {
    font-size: 24px;
    letter-spacing: 2px;
    position: relative; }
    .services__title::after {
      content: "";
      width: 100px;
      height: 8px;
      background-color: #2B4074;
      position: absolute;
      top: 45px;
      left: 50%;
      transform: translateX(-50%); }
  .services__sub-title {
    color: #4A4A4A;
    font-size: 20px;
    line-height: 24px;
    margin-top: 60px; }
  .services__text {
    margin-top: 20px;
    color: #797979;
    font-size: 15px;
    line-height: 17px; }
  .services__img {
    width: 64px;
    height: 64px;
    opacity: 1;
    position: relative;
    margin-bottom: 20px; }
  .services__list {
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .services__item:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 277px;
    padding: 10px;
    border: 3px solid #2B4074;
    margin-top: 0; }
  .services__item:not(:first-child) {
    margin-top: 195px; }

.services__content {
  margin-top: 25px; }

.services__item p {
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 2px;
  color: #4A4A4A;
  font-weight: 700;
  text-transform: uppercase; }
