header.header  
  .container
    .header__wrapper
      img.header__logo(src='img/Header_logo.png', alt="Logo")
      .header-nav
        input(type="checkbox" id="nav-menu")
        label(for="nav-menu").header-nav__btn
          span
        ul.menu-list
          li.menu-list__link
            a(href='#') Menu item
          li.menu-list__link
            a(href='#') Menu item
          li.menu-list__link
            a(href='#') Menu item
          li.menu-list__link
            a(href='#') Menu item
          li.menu-list__link
            a(href='#') Menu item