@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;	
	src: url('../fonts/roboto-condensed-v25-latin_cyrillic-regular.eot');
	src: local(''),		 
		 url('../fonts/RobotoCondensed-Regular.woff') format('woff'),	
		 url('../fonts/RobotoCondensed-Light.woff') format('woff'),	
		 url('../fonts/RobotoCondensed-Bold.woff') format('woff'),	
  }
