.intro {
    // height: 193px;  
    // width: 320px;
    height: 193px;
    overflow-y: scroll;
}

.intro__text {    
    color: #fff;
    font-family: $RobotoCondensed;
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    padding: 36px 40px 0;    
}

.intro__slide {
    background: #333 url("../img/intro-bg.jpg") no-repeat center/cover;
}