.intro { 
    height: 193px;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
}

.intro__text {    
    color: $white;
    font-family: $RobotoCondensed;
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    padding: 36px 40px 0;    
}

.intro__slide {
    background: #333 url("../img/intro-bg.jpg") no-repeat center/cover;
}