.quotes {
    text-align: center;
    margin-top: 60px;
    
    &__item {
        font-family: $RobotoCondensed;
        font-size: 24px;
        line-height: 26px;
        font-weight: 400;
        color: $gray;
        margin-top: 80px;
        margin-bottom: 40px;

        span {
            color: $darkblue;
            font-weight: 700;
        }
    }

    &__author {
        font-weight: 700;
        letter-spacing: 2px;
        margin-top: 20px;
    }
}