.services {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: $RobotoCondensed;
    color: $darkblue;

    .grid__col {
        border: 1px solid rgba(249, 246, 229, 1);
        

        &:hover{
            border: 1px solid $darkblue;
            transition: all 0.25s ease-in;
        }
    }

    &__promo {
        color: $gray;
        font-size: 20px;
        line-height: 24px;
        margin-top: 60px;
    }

    &__text {
        margin-top: 20px;
        color: $lightgray;
        font-size: 15px;
        line-height: 17px;
    }

    &__img {
        width: 64px;
        height: 64px;
        opacity: 1;
        position: relative;
        margin-bottom: 20px;
    }

    &__sub-title {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 2px;
        color: $gray;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__list {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 277px;
        padding: 10px;
        cursor: pointer;
        
        &:hover {            
            margin-top: 0;
        }
    }

    &__content {
        margin-top: 25px;
    }

    &__description {
        opacity: 0;
        font-size: 16px;
        line-height: 18px;
        color: $gray_;
        margin-top: 15px;
        transition: opacity 0.25s ease-in;
    }

    &__about {
        opacity: 0;
        color: $darkblue;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 15px;
        transition: opacity 0.25s ease-in;

        &:hover {
            text-decoration: underline;
        }
    }
}
