.team {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: $RobotoCondensed;
    margin-bottom: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
    align-items: center;
    

    @media ($md) {
        flex-direction: row;
        text-align: left;
        justify-content: center;
        align-items: flex-start;
    }

    &__text {
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: $gray_;
        margin-top: 55px;

        @media ($md) {
            
            background-size: contain;
            background-position: 0 0;
            margin-top: 40px;
        }
    }

    &__img {
        width: 100%;
        min-height: 250px;
        background: $white url("../img/team.png") no-repeat center;
        background-size: auto;
        
        @media ($sm) {
            background-size: contain;
        }

        @media ($md) {
            width: 37%;
            background-position: 0 0;
        }
    }

    &__inner {

        margin-top: 40px;

        @media ($md) {
            margin-left: 5%;
            width: 58%;
            margin-top: 0;
        }
    }
}