// colors
$body: #F2F1EF;
$white: #fff;

// MEDIA
$xl: 'min-width: 1400px'; // laptop
$lg: 'min-width: 1024px'; // laptop
$md: 'min-width: 768px'; // tablet
$sm: 'min-width: 640px'; // phone

//Fonts
$RobotoCondensed: 'Roboto Condensed', sans-serif;
