// colors
$body: #F2F1EF;
$white: #fff;

// MEDIA
$wide: 'max-width: 1440px';
$medium: 'max-width: 1024px';
$small: 'max-width: 768px';
$phone: 'max-width: 480px';

//Fonts
$OpenSans: 'Open Sans', Arial, sans-serif;
$Raleway: 'Raleway', sans-serif;