// colors
$body: #F2F1EF;
$white: #fff;
$darkblue: #2B4074;
$darkblue_: #26489e;
$cream: #F9F6E5;
$creamDark: #928d70;
$creamOpacity: rgba(249, 246, 229, .8);
$gray: #4A4A4A;
$lightgray: #797979;
$gray_: #9B9B9B;
$gray2: #929292;


// MEDIA
$xl: 'min-width: 1400px'; // laptop
$lg: 'min-width: 1024px'; // laptop
$md: 'min-width: 768px'; // tablet
$sm: 'min-width: 640px'; // phone

//Fonts
$RobotoCondensed: 'Roboto Condensed', sans-serif;
