extends ./tpl/layout

block page
	section.section
		.intro.swiper
			.intro__slides.swiper-wrapper
				.intro__slide.swiper-slide
					.container
						.intro__text МЫСЛИ ГЛОБАЛЬНО
						.intro__text МЫСЛИ ГЛОБАЛЬНО
						.intro__text МЫСЛИ ГЛОБАЛЬНО
						.intro__text МЫСЛИ ГЛОБАЛЬНО
				.intro__slide.swiper-slide
					.container
						.intro__text МЫСЛИ ГЛОБАЛЬНО
				.intro__slide.swiper-slide
					.container
						.intro__text МЫСЛИ ГЛОБАЛЬНО
			.swiper-pagination
				
