extends ./tpl/layout

block page
	section.section
		.intro.swiper
			.intro__slides.swiper-wrapper
				.intro__slide.swiper-slide
					.container
						.intro__text МЫСЛИ ГЛОБАЛЬНО
				.intro__slide.swiper-slide
					.container
						.intro__text МЫСЛИ ГЛОБАЛЬНО
				.intro__slide.swiper-slide
					.container
						.intro__text МЫСЛИ ГЛОБАЛЬНО
			.swiper-pagination
	section.section
		.promo
			.promo__title Вы полюбите нас с первой встречи!
			.promo__text Мы предоставляем комплексный подход к продвижению компании, продуктов и услуг в цифровой сфере.
			button.promo__btn Перезвоните мне
	section.section
		.container
			.services
				.services__content
					.services__title Сервис
					.services__promo От идеи до незабываемого и измеримого результата.
					.services__text Интеграция безупречного производства, передовых технологий и тщательного измерения производительности.
				.services__list
					.component
						.grid
							.grid__col.grid__col_12.grid__md-col_6.grid__lg-col_3
								.services__item
									img.services__img(src="../img/SEO_Icons_(8).png", alt="Logo")
									p.services__sub-title Стратегия
									.services__description Lorem ipsum dolor sit amet, consectetur 
									a(href="#").services__about Подробнее
							.grid__col.grid__col_12.grid__md-col_6.grid__lg-col_3
								.services__item
									img.services__img(src="../img/SEO Icons (10).png", alt="Logo")
									p.services__sub-title Анализ
									.services__description Lorem ipsum dolor sit amet, consectetur 
									a(href="#").services__about Подробнее
							.grid__col.grid__col_12.grid__md-col_6.grid__lg-col_3
								.services__item
									img.services__img(src="../img/SEO Icons (18).png", alt="Logo")
									p.services__sub-title Соц сети
									.services__description Lorem ipsum dolor sit amet, consectetur 
									a(href="#").services__about Подробнее
							.grid__col.grid__col_12.grid__md-col_6.grid__lg-col_3
								.services__item
									img.services__img(src="../img/SEO Icons (34).png", alt="Logo")
									p.services__sub-title Развитие
									.services__description Lorem ipsum dolor sit amet, consectetur 
									a(href="#").services__about Подробнее
							.grid__col.grid__col_12.grid__md-col_6.grid__lg-col_3
								.services__item
									img.services__img(src="../img/SEO Icons (33).png", alt="Logo")
									p.services__sub-title Контент
									.services__description Lorem ipsum dolor sit amet, consectetur 
									a(href="#").services__about Подробнее
							.grid__col.grid__col_12.grid__md-col_6.grid__lg-col_3
								.services__item
									img.services__img(src="../img/SEO Icons (21).png", alt="Logo")
									p.services__sub-title Дизайн UX
									.services__description Lorem ipsum dolor sit amet, consectetur 
									a(href="#").services__about Подробнее
							.grid__col.grid__col_12.grid__md-col_6.grid__lg-col_3
								.services__item
									img.services__img(src="../img/SEO Icons (9).png", alt="Logo")
									p.services__sub-title Таргетированная реклама
									.services__description Lorem ipsum dolor sit amet, consectetur 
									a(href="#").services__about Подробнее
							.grid__col.grid__col_12.grid__md-col_6.grid__lg-col_3
								.services__item
									img.services__img(src="../img/SEO Icons (27).png", alt="Logo")
									p.services__sub-title Продукт
									.services__description Lorem ipsum dolor sit amet, consectetur 
									a(href="#").services__about Подробнее