extends ./tpl/layout

block page
	section.section
		.container
			.intro.swiper
				.intro__slides.swiper-wrapper
					.intro__slide.swiper-slide
						.intro__text МЫСЛИ ГЛОБАЛЬНО
					.intro__slide.swiper-slide
						.intro__text МЫСЛИ ГЛОБАЛЬНО
					.intro__slide.swiper-slide
						.intro__text МЫСЛИ ГЛОБАЛЬНО
				.swiper-pagination
				
